<div class="row lg-12 float-right mt-3 mb-3">    
    <button [routerLink]="['/products/products-form']" class="btn btn-success"> Novo Produto </button>        
</div>

<table class="table">
    <tr>
        <th> ID </th>
        <th> Nome </th>
        <th> Preço </th>
        <th> Categorias </th>
        <th> Açoes </th>
    </tr>

    <tr *ngFor="let p of products?.data">
        <td> {{ p.id }}</td>
        <td> {{ p.name }}</td>
        <td> {{ p.price }}</td>
        <td>  {{ getCategories( p.categories ) }}    </td>
       
        <td class="btn-group">
        <button class="btn btn-info mr-2" [routerLink]="['/products/products-form', p.id]" >Editar</button>
        <button class="btn btn-danger" (click)="onDelete( p.id )" > Deletar</button> </td>
    </tr>
</table>
