body{
background-image:url("pascoa.jpg");
background-size: 100%;
background-repeat: no-repeat;
font-style: italic;
font-size: 16px;
}

input{
    font-size: 14px;
    font-style: italic;
    border: 1px solid black;
    background-color:rgb(167, 240, 159);
    border-radius: 5px;
    padding-left: 5px;
}
