.Fundo{
background-color: red;
}

.Fundo1{
background-color: purple;
}

.Fundo2{
background-color: blue;
}

.Fundo3{
background-color: green;
}

.Fundo4{
background-color: yellow;
}

.aaa{
background-color: white;
}

