#demo1{
background-color:Purple;

}
#demo2{
background-color:black;
color:yellow;
}
#demo3{
background-color:lightblue;

}
#demo4{
background-color:red;
}
#demo5{
background-color:green;
}
#demo6{
background-color:gray;
}